@page "/"

<PageTitle>특자단학원 수강생 관리자</PageTitle>

<h1>특자단학원 수강생 관리자</h1>

학생관리용 웹사이트입니다.

<div>
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.OpenInNew" Style="background-color: yellowgreen; color: white; width: 300px; height: 100px;" Href="/new" Target="_self">
        신규회원가입 페이지
    </MudButton>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<Counter IncrementAmount="10" />*@
