<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">tjdaca</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-people" aria-hidden="true"></span> 학원생등록
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-people" aria-hidden="true"></span> 학생성적등록
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link dropdown-toggle" @onclick="()=>expandSubNav=!expandSubNav">
                <span class="oi oi-document" aria-hidden="true"></span>상담일지 RawData
            </NavLink>
        @if (expandSubNav)
        {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/1">
                        <span class="oi oi-arrow-circle-right"></span>김태구 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/2">
                        <span class="oi oi-arrow-circle-right"></span>조용진 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/3">
                        <span class="oi oi-arrow-circle-right"></span>조성배 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/4">
                        <span class="oi oi-arrow-circle-right"></span>김지홍 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/5">
                        <span class="oi oi-arrow-circle-right"></span>유지수 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/6">
                        <span class="oi oi-arrow-circle-right"></span>송광재 선생님
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rawdata/7">
                        <span class="oi oi-arrow-circle-right"></span>박대영 선생님
                    </NavLink>
                </div>
        }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link dropdown-toggle" href="questions">
                <span class="oi oi-task" aria-hidden="true"></span>학생질문Q&A
            </NavLink>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="questions/i/0">
                    <span class="oi oi-arrow-circle-right"></span>새 질문 등록
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="option">
                <span class="oi oi-cog" aria-hidden="true"></span> 선택항목관리
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandSubNav = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
