

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudAppBar Color="Color.Primary" Fixed="false" Dense="false">
            <h4>해당 메뉴에 접근하기 위한 비밀번호가 필요합니다.</h4>
        </MudAppBar>
    </MudItem>
</MudGrid>

<MudGrid Justify="Justify.Center">
    <MudItem xs="3">
        <MudCard Elevation="30">
            <MudCardContent>
                <MudStack Row="false">
                    <MudTextField @bind-Value="password" Label="비밀번호" Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Password" InputType="InputType.Password" Required="true" Placeholder="비밀번호" OnKeyPress="HandleKeyPress" />
                    <MudButton Variant="MudBlazor.Variant.Filled" Size="@Size.Large" StartIcon="@Icons.Material.Filled.CheckCircle" Color="@Color.Primary" @onclick="CheckPassword" accesskey="Keys.Enter">확인</MudButton>
                </MudStack>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>



@code {
    private string password = "";

    [Parameter]
    public EventCallback<AuthoizeData> OnPasswordVerified { get; set; }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Call the method that handles the confirmation logic
            CheckPassword();
        }
    }

    private async Task CheckPassword()
    {
        if (password == "tjd180!!") // 관리자용 패스워드
        {
            await OnPasswordVerified.InvokeAsync(new AuthoizeData(true, true));
        }
        else if (password == "teacher999!!") // 강사용 패스워드
        {
            await OnPasswordVerified.InvokeAsync(new AuthoizeData(true, false));
        }
        else
        {
            await OnPasswordVerified.InvokeAsync(new AuthoizeData(false, false));
        }
    }

    public class AuthoizeData
    {
        public AuthoizeData(bool passed, bool isadmin)
        {
            IsPassed = passed;
            IsAdmin = isadmin;
        }

        public bool IsPassed { get; set; } = false;
        public bool IsAdmin { get; set; } = false;

    }
}